@import './colors.css';

.title-info-container{
    position: absolute;
    height: 370px;
    width: 260px;
    top: 0;
    z-index: 2;
    padding: 1em;
    font-weight: 500;
}

.title-info{
    height: 320px;
    width: 220px;
    background-color: var(--grey-blue);
    border: 3px solid var(--primary);
    border-radius: 20px;
    margin: 20px auto;
    padding: 1em;
    text-align: left;
    & .title{
        font-weight: bold;
        text-align: center;
    }   

    & .year-director{
        text-align: center;
    }
}




.close-info{
    background: white;
    width: 20px;
    height: 20px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    border: 2px solid black;
    position: absolute;
    top: 35px;
    right: 15px;
}



.open{
    display: block;
}

.closed{
    display: none;
}

.left{
    right:100%;
}
.right{
    left:100%;
    
}