@import './colors.css';
.open{
    display: block;
}

.closed{
    display: none;
}

.title-info-container{
    position: absolute;
    height: 450px;
    width: 280px;
    top: 0;
    z-index: 2;
}

.title-info{
    height: 350px;
    width: 250px;
    background-color: var(--grey-blue);
    border: 3px solid var(--primary-alt);
    border-radius: 20px;
    margin: 20px auto;
}

.left{
    right:100%;
}
.right{
    left:100%;
    
}