@import '/infoContainer.css';
@import './searchSuggestions.css';
body{
    color: #333;
    font-weight: 700;
    margin: 0;
    background-color: #F0F0F0;
}

header{
    background:linear-gradient(#11EEDD,#34DDDD);
    padding: 20px;
    display: flex;
    justify-content: center; 
}
main{
    width: 100%;
}


